body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: #7e4be4;
    text-decoration: underline;
}

button {
    background-color: #7e4be4;
    color: white;
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #a281e5;
}

li {
    margin: 5px 0px;
}